
.swiper-button-disabled {
  display: none;
}
.icon::before {
  font-family: OhouseIcon;
  vertical-align: top;
  font-size: 20px;
  font-weight: 700;
}

.hidden {
  overflow: hidden;
}


.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  overflow: hidden;
  margin: -1px;
}

.common-inner {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 60px;
  @include pc {
    padding: 0 40px;
  }
  @include mobile {
    padding: 0 16px;
  }
}

/* common-sc */
.common-sc {
  padding: 10px 0;
  .group-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      width: 260px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        opacity: 0.5;
      }
      @include tablet {
        font-size: 18px;
      }
    } 
    .link {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #35c5f5;
      &:hover {
        opacity: 0.5;
      }
      @include mobile {
        display: none;
      } 
    }
    .more-icon {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  .list-item {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    @include mobile {
      grid-template-columns: repeat(2,1fr);
    }
  
    .item {
      position: relative;
      .new-icon {
        position: absolute;
        top: 7px;
        left: 7px;
        z-index: 1;
        width: 34px;
        height: 20px;
        line-height: 20px;
        padding: 0 6px;
        font-size: 10px;
        font-weight: 700;
        border-radius: 4px;
        background: #ff7777;
        color: #fff;
      } 
    }
    .img-box {
      position: relative;
      width: 100%;
      overflow: hidden;
      border-radius: 7px;
      padding-bottom: calc((180/270)*100%);
      &:hover img {transform:scale(1.1);}
      @include tablet{
        padding-bottom: 100%;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .2s;
    }
  }
  .text-box {
    padding-top: 10px;
    p {
      font-size: 16px;
      line-height: 26px;
      span {
        color: #35c5f5;
        font-weight: 700;
      }
      @include tablet{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .title {
      font-size: 14px;
      line-height: 20px;
    }
    .desc {
      margin-top: 2px;
      font-size: 15px;
      line-height: 24px;
      font-weight: 700;
    }
  }
}
