[class^="_"], [class*=" _"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search:before {
  content: "\ea4d";
}
.cart:before {
  content: "\e94e";
}
.write:before {
  content: "\e961";
}
.icon-prev:before {
  content: "\e966";
}
.icon-next:before {
  content: "\e96a";
}
.chevron-down:before {
  content: "\e961";
}
.home-outline:before {
  content: "\e9e1";
}
.store:before {
  content: "\ea7f";
}
.truck:before {
  content: "\ea9d";
}
.chevron-thick-down:before {
  content: "\e96c";
}
.more-icon:before {
  content: "\e976";
}