

@font-face {
  font-family: 'noto';
  src: url(../font/NotoSans-Regular.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'noto';
  src: url(../font/NotoSans-Medium.woff2) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'noto';
  src: url(../font/NotoSans-Bold.woff2) format('woff2');
  font-weight: 700;
}


@font-face {
  font-family: 'OhouseIcon';
  src: url(../font/OhouseIcon.woff2) format('woff2');
}

