
// 반응형 크기 
$pc:1256px;
$tablet:1023px;
$mobile:767px;
$setting:620px;

@mixin pc{
  @media (max-width:$pc) {
    @content;
  }
}

// 반응형, 브라우저 크기가 768px이상 1023이하일때
@mixin tablet{
  @media (max-width:$tablet) {
    @content;
  }
}

// 반응형, 브라우저 크기가 767px이하일때
@mixin mobile{
  @media (max-width:$mobile) {
    @content;
  }
}

// 반응형, 브라우저 크기가 620px이하일때
@mixin setting{
  @media (max-width:$setting) {
    @content;
  }
}

